---
import Minimal from "@/layouts/Minimal.astro"
---

<Minimal title="Not found">
    <div class="flex flex-col items-center justify-center bg-neutral-900 min-h-screen min-w-screen">
        <div class="flex flex-col p-5">
            <img class="mb-5" src="/img/Sphere.png" alt="Sphere" width="100" height="100" />
            <span class="font-poppins font-bold text-white text-4xl sm:text-6xl">
                <div class="flex flex-row items-center gap-x-4">
                    <svg
                        class="w-6 h-6 sm:w-12 sm:h-12 fill-red-500"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 512 512"
                        ><!--! Font Awesome Pro 6.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. -->
                        <path
                            d="M256 512c141.4 0 256-114.6 256-256S397.4 0 256 0S0 114.6 0 256S114.6 512 256 512zm0-384c13.3 0 24 10.7 24 24V264c0 13.3-10.7 24-24 24s-24-10.7-24-24V152c0-13.3 10.7-24 24-24zm32 224c0 17.7-14.3 32-32 32s-32-14.3-32-32s14.3-32 32-32s32 14.3 32 32z"
                        ></path>
                    </svg>
                    Not Found
                </div>
            </span>
            <span class="mt-3 text-md 1sm:text-lg text-white"
                >Unfortunately, the page you are looking for does not exist, or the link you entered is not correct.</span
            >
            <a class="bg-white text-center py-2 rounded-lg shadow-lg max-w-[200px] mt-5" href="/">Home</a>
        </div>
    </div>
</Minimal>
