---
// Index Page
import Card from "@/components/Card.vue"
import Hero from "@/components/Hero.vue"
import Base from "@/layouts/Base.astro"
---

<Base title="Home">
    <Hero client:load />
    <section id="main" class="flex flex-col px-5 py-36 max-w-[1000px] mx-auto text-center">
        <h2 class="font-poppins text-2xl sm:text-4xl font-bold mb-10 transition-all">
            A place where <span id="grad">creativity</span> is <span id="grad">power</span>
        </h2>
        <span class="text-md sm:text-lg transition-all"
            >We're looking for like minded people who always put their best creative-self forward. Opportunities at
            Sphere Interactive are always available to those who think like us.</span
        >
        <span class="text-sm mb-10 transition-all">Interested in joining our team? Contact us today!</span>
        <div class="animate-bounce">
            <a class="py-3 px-10 rounded-lg shadow-lg text-black bg-neutral-400 font-bold animate-bounce">Coming soon</a
            >
        </div>
    </section>
    <section id="main_two" class="flex flex-col px-5 pt-16 pb-36 max-w-[800px] mx-auto text-center">
        <h2 class="font-poppins text-2xl sm:text-4xl font-bold mb-10">Team</h2>
        <span class="mb-10 text-md sm:text-lg"
            >With us, you find the most creative heads. In this way, we can deliver the excellent results that are known
            from us. Get to know our employees and find out why our employees are our greatest asset.</span
        >
        <div class="animate-bounce">
            <a href="/team" class="py-3 px-10 rounded-lg shadow-lg text-black bg-t5 font-bold">Get to know the team</a>
        </div>
    </section>
    <section id="main_three" class="flex flex-col px-5 pt-16 pb-36 max-w-[1325px] mx-auto w-full">
        <h2 class="font-poppins text-2xl sm:text-4xl font-bold mb-8">What departments we offer</h2>
        <div id="masonry" class="grid grid-cols-1 md:grid-cols-2 gap-4 max-w-full">
            <Card objclass="px-3 py-6" imgclass="max-h-[300px]" img="/img/svg/programmer.svg" alt="programmer">
                <h3 class="font-poppins text-t1 text-xl sm:text-2xl font-bold">Data Operations</h3>
                <span class="text-md mt-5"
                    >The Data Operations Department, also known as "Development" is the core of Game Design &
                    Production. Their responsibility lies in putting the requested features into action.</span
                >
            </Card>
            <Card objclass="px-3 py-6" imgclass="max-h-[300px]" img="/img/svg/conversation.svg" alt="conversation">
                <h3 class="font-poppins text-t1 text-xl sm:text-2xl font-bold">Directorate</h3>
                <span class="text-md mt-5"
                    >The Directorate is the board of executives and assigned on Administration & Marketing within Sphere
                    Interactive.</span
                >
            </Card>
            <Card objclass="px-3 py-6" imgclass="max-h-[300px]" img="/img/svg/support.svg" alt="support">
                <h3 class="font-poppins text-t1 text-xl sm:text-2xl font-bold">Management</h3>
                <span class="text-md mt-5"
                    >Management is our customer support & paper administration for Developers.</span
                >
            </Card>
            <Card objclass="px-3 py-6" imgclass="max-h-[300px]" img="/img/svg/intel.svg" alt="intel">
                <h3 class="font-poppins text-t1 text-xl sm:text-2xl font-bold">Intelligence Association</h3>
                <span class="text-md mt-5">Our secret but important department.</span>
            </Card>
        </div>
    </section>
</Base>

<style scoped>
    #grad {
        @apply text-transparent bg-clip-text bg-gradient-to-r from-white to-t6;
    }
    #masonry {
        grid-template-rows: masonry;
    }
</style>
