---
// Team Page
import Card from '@/components/Card.vue'
import Base from '@/layouts/Base.astro'
---

<Base title="Team">
    <div id="main"></div><!-- Innserobserver -->
    <section id="team" class="mx-auto flex w-full max-w-[1325px] flex-col px-5 py-36">
        <h2 class="mb-8 font-poppins text-2xl font-bold sm:text-4xl">Meet our team</h2>
        <div id="masonry" class="grid max-w-full grid-cols-1 gap-4 md:grid-cols-2">
            <Card
                imgclass="w-full h-full object-cover"
                img="/img/team/2014patrick.avif"
                alt="2014patrick"
            >
                <h3 class="font-poppins text-xl font-bold text-t1 sm:text-2xl">
                    Chief Executive Officer
                </h3>
                <p class="text-md mt-4 sm:text-lg">2014patrick</p>
            </Card>
            <Card
                objclass="px-3 py-6"
                imgclass="max-h-[300px]"
                img="/img/svg/avatar.svg"
                alt="none"
            >
                <h3 class="font-poppins text-xl font-bold text-t1 sm:text-2xl">
                    Chief Development Officer
                </h3>
                <p class="text-md mt-4 sm:text-lg">None | This could be you!</p>
            </Card>
            <Card
                objclass="px-3 py-6"
                imgclass="max-h-[300px]"
                img="/img/svg/avatar.svg"
                alt="Ominous_Weyland"
            >
                <h3 class="font-poppins text-xl font-bold text-t1 sm:text-2xl">Directorate</h3>
                <p class="text-md mt-4 sm:text-lg">None | This could be you!</p>
            </Card>
            <Card
                objclass="px-3 py-6"
                imgclass="max-h-[300px]"
                img="/img/svg/avatar.svg"
                alt="none"
            >
                <h3 class="font-poppins text-xl font-bold text-t1 sm:text-2xl">Management</h3>
                <p class="text-md mt-4 sm:text-lg">None | This could be you!</p>
            </Card>
        </div>
    </section>
    <section id="join" class="mx-auto flex max-w-[1000px] flex-col px-5 pb-36 pt-16 text-center">
        <h2 class="mb-8 font-poppins text-2xl font-bold sm:text-4xl">
            Want to <span id="grad">empower</span> our team?
        </h2>
        <p class="text-md mb-7 sm:text-lg">
            We could always use an extra hand when it comes to development and management. Are you
            feeling up for a challenge to boost your experience? Join us today!
        </p>
        <div class="animate-bounce">
            <a
                class="animate-bounce rounded-lg bg-neutral-400 px-10 py-3 font-bold text-black shadow-lg"
                >Coming soon</a
            >
        </div>
    </section>
</Base>

<style scoped>
    #grad {
        @apply bg-gradient-to-l from-white to-t6 bg-clip-text text-transparent;
    }
    #masonry {
        grid-template-rows: masonry;
    }
</style>
