<!-- <template>
    <div class="flex flex-col bg-t3 shadow-lg">
        <div class="px-3 py-6 mx-auto flex flex-col items-center justify-center flex-1">
            <img :src="img" :alt="alt" class="object-cover max-h-[300px]" />
        </div>
        <div class="flex flex-col bg-t4 text-white p-8">
            <slot />
        </div>
    </div>
</template> -->

<template>
    <div class="flex flex-col bg-t3 shadow-lg">
        <div :class="objclass" class="mx-auto flex flex-1 flex-row items-center">
            <img :src="img" :alt="alt" :class="imgclass" />
        </div>
        <div class="flex flex-col bg-t4 p-8 text-white">
            <slot />
        </div>
    </div>
</template>

<script setup lang="ts">
    const props = defineProps<{
        img?: string
        alt?: string
        objclass?: string
        imgclass?: string
        background?: string
    }>()
</script>
