<template>
    <div
        id="consent"
        :class="{ fixed: !accepted, hidden: accepted }"
        class="bottom-0 left-0 z-[35] w-full border-t-2 border-t1 bg-t4 p-4"
    >
        <div class="mx-auto flex max-w-[1500px] flex-col items-center gap-x-8 gap-y-4 md:flex-row">
            <span class="flex-1"
                >This website uses third party cookies to learn about it's usage. If your browser is
                set to do not track mode we will not use statistics cookies.</span
            >
            <button
                v-on:click="accept"
                class="w-full rounded-lg bg-t1 px-8 py-2 font-bold shadow-lg transition-all hover:bg-t6 md:w-min"
            >
                Gotcha
            </button>
        </div>
    </div>
</template>

<script setup lang="ts">
    import { onMounted, ref } from 'vue'

    // I don't wanna do this, but I kinda have to
    let accepted = ref<boolean>(true)

    const accept = async () => {
        accepted.value = true
        localStorage.setItem('SphereAcceptedCookies', 'true')
    }

    onMounted(() => {
        if (localStorage.getItem('SphereAcceptedCookies') !== 'true') {
            accepted.value = false
        }
    })
</script>
