<template>
    <footer class="bg-t3 px-5 py-5">
        <div class="mx-auto flex max-w-[1500px] flex-col items-center justify-center gap-y-2">
            <div class="z-10 flex flex-row gap-x-6">
                <a class="underline hover:text-neutral-200" href="/imprint">Imprint</a>
                <a class="underline hover:text-neutral-200" href="/privacy">Privacy Policy</a>
            </div>
            <div class="z-10 flex">
                <span class="text-sm"
                    >WhatsApp Number: [
                    <em class="font-bold not-italic">+1 (510) 890-3313</em> ]</span
                >
            </div>
            <span class="font-bold">© {{ today }} Sphere Interactive</span>
        </div>
    </footer>
</template>

<script setup lang="ts">
    const today = new Date(Date.now()).getFullYear()
</script>
