<template>
    <div
        :class="{ 'pointer-events-none translate-y-3 opacity-0': !visible, 'opacity-100': visible }"
        class="fixed bottom-5 right-5 z-[25] flex justify-end transition-all duration-300"
    >
        <button
            class="rounded-full bg-t4 p-3 text-t5 shadow-lg transition-all duration-300 hover:text-neutral-400"
            v-on:click.prevent="GoUp"
        >
            <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 384 512"
                class="h-5 w-5"
            >
                <path
                    d="M214.6 41.4c-12.5-12.5-32.8-12.5-45.3 0l-160 160c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L160 141.2V448c0 17.7 14.3 32 32 32s32-14.3 32-32V141.2L329.4 246.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3l-160-160z"
                />
            </svg>
        </button>
    </div>
</template>

<script setup lang="ts">
    import { onMounted, ref } from 'vue'

    const visible = ref<boolean>(false)

    const GoUp = async () => {
        const el = document.querySelector('#bg') || document.querySelector('#main')
        el!.scrollIntoView()
    }

    const io = new IntersectionObserver(
        entries => {
            entries.forEach(entry => {
                if (entry.isIntersecting) {
                    visible.value = false
                } else {
                    visible.value = true
                }
            })
        },
        { threshold: 1, rootMargin: '200px' },
    )

    onMounted(() => {
        io.observe(document.querySelector('#bg') || document.querySelector('#main')!)
    })
</script>
