<template>
    <header id="bg" :class="[activeClass]" class="min-h-[100svh] bg-[#000000bf] text-white">
        <div
            class="absolute z-10 flex h-full w-full flex-col items-center justify-center text-center"
        >
            <span class="font-poppins text-4xl font-bold text-t1 md:text-7xl"
                >Sphere Interactive</span
            >
            <span class="text-md mt-5 font-semibold md:text-lg"
                >Creative interactions returned.</span
            >
        </div>
        <div class="absolute bottom-0 z-10 flex w-full items-end justify-center">
            <button class="animate-bounce" v-on:click="scrollToEl">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="currentColor"
                    viewBox="0 0 512 512"
                    class="mb-5 h-5 w-5"
                >
                    <path
                        d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z"
                    />
                </svg>
            </button>
        </div>
        <div id="preload" class="hidden">
            <div class="bg-hero-1" />
            <div class="bg-hero-2" />
            <div class="bg-hero-3" />
            <div class="bg-hero-4" />
            <div class="bg-hero-5" />
            <div class="bg-hero-6" />
            <div class="bg-hero-7" />
            <div class="bg-hero-8" />
            <div class="bg-hero-9" />
            <div class="bg-hero-10" />
            <div class="bg-hero-11" />
            <div class="bg-hero-12" />
        </div>
    </header>
</template>

<script setup lang="ts">
    import { onMounted, ref } from 'vue'

    const activeClass = ref<string>('')
    onMounted(() => {
        const randomWall = Math.floor(Math.random() * 11) + 1
        activeClass.value = `bg-hero-${randomWall}`
    })
    // bg-[#000000bf]
    const scrollToEl = () => {
        // scrollIntoView
        const el = document.querySelector('#main')!
        el.scrollIntoView()
    }
</script>

<style scoped>
    #bg {
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-blend-mode: darken;
    }
</style>
