<template>
    <div
        :class="{
            'opacity-100 md:hidden': props.open,
            'pointer-events-none opacity-0': !props.open,
        }"
        class="fixed left-0 top-0 z-30 h-screen w-screen bg-t4 text-white transition-opacity duration-150"
    >
        <div class="flex h-full flex-col items-center gap-y-4 pt-32">
            <div class="flex flex-col">
                <a href="/" class="text-lg">Home</a>
            </div>
            <div class="flex flex-col">
                <a href="/team" class="text-lg">Team</a>
            </div>
            <!-- End icon -->
            <div class="flex-1"></div>
            <!--  -->
            <a :href="YOUTUBE_LINK" target="_blank" rel="noopener" class="pb-5">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="currentColor"
                    viewBox="0 0 576 512"
                    class="w-6 w-6"
                >
                    <path
                        d="M549.655 124.083c-6.281-23.65-24.787-42.276-48.284-48.597C458.781 64 288 64 288 64S117.22 64 74.629 75.486c-23.497 6.322-42.003 24.947-48.284 48.597-11.412 42.867-11.412 132.305-11.412 132.305s0 89.438 11.412 132.305c6.281 23.65 24.787 41.5 48.284 47.821C117.22 448 288 448 288 448s170.78 0 213.371-11.486c23.497-6.321 42.003-24.171 48.284-47.821 11.412-42.867 11.412-132.305 11.412-132.305s0-89.438-11.412-132.305zm-317.51 213.508V175.185l142.739 81.205-142.739 81.201z"
                    />
                </svg>
            </a>
        </div>
    </div>
</template>

<script setup lang="ts">
    const props = defineProps<{ open?: boolean; visible?: boolean }>()
    // const currentLink = typeof window !== "undefined" ? window.location.pathname.toLowerCase() : ""
    const YOUTUBE_LINK = 'https://www.youtube.com/channel/UCbKJAHWGeosASJV1QW2v_yQ'
</script>
