<template>
    <nav
        id="nav"
        class="fixed left-0 top-0 z-40 w-full transition-all duration-300"
        :class="{ 'bg-t4': visible, 'shadow-lg': visible && !open }"
    >
        <div class="mx-auto flex max-w-[1750px] flex-row items-center justify-between px-10 py-4">
            <!-- Image link -->
            <a href="/"
                ><img
                    class="text-transparent hover:animate-spin"
                    src="/img/Sphere.png"
                    alt="Sphere Interactive"
                    width="45"
                    height="45"
            /></a>
            <!-- Tabs -->
            <div class="hidden flex-row items-center gap-x-5 text-white md:flex">
                <Navlink href="/" title="Home" />
                <Navlink href="/team" title="Team" />
            </div>

            <div class="flex-1 md:hidden"></div>

            <!-- Social Links -->
            <div class="flex flex-row items-center gap-x-5 text-white">
                <a
                    :href="DISCORD_LINK"
                    target="_blank"
                    rel="noopener"
                    :class="{
                        'bg-t6 hover:bg-blue-200': visible,
                        'bg-t5 text-black hover:bg-neutral-300': !visible,
                    }"
                    class="rounded-lg px-8 py-2 font-bold transition-all duration-300"
                    >Discord</a
                >
                <!-- YouTube -->
                <a
                    :href="YOUTUBE_LINK"
                    target="_blank"
                    rel="noopener"
                    class="hidden transition-all hover:text-neutral-400 md:block"
                >
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="currentColor"
                        viewBox="0 0 576 512"
                        class="w-6 w-6"
                    >
                        <path
                            d="M549.655 124.083c-6.281-23.65-24.787-42.276-48.284-48.597C458.781 64 288 64 288 64S117.22 64 74.629 75.486c-23.497 6.322-42.003 24.947-48.284 48.597-11.412 42.867-11.412 132.305-11.412 132.305s0 89.438 11.412 132.305c6.281 23.65 24.787 41.5 48.284 47.821C117.22 448 288 448 288 448s170.78 0 213.371-11.486c23.497-6.321 42.003-24.171 48.284-47.821 11.412-42.867 11.412-132.305 11.412-132.305s0-89.438-11.412-132.305zm-317.51 213.508V175.185l142.739 81.205-142.739 81.201z"
                        />
                    </svg>
                </a>
            </div>
            <!-- Burger -->
            <div class="ml-5 flex items-center text-white md:hidden">
                <button v-on:click.prevent="toggleMenu">
                    <!-- Burger -->
                    <svg
                        v-if="!open"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="currentColor"
                        viewBox="0 0 448 512"
                        class="w-5 w-5"
                    >
                        <path
                            d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z"
                        />
                    </svg>
                    <!-- xClose -->
                    <svg
                        v-if="open"
                        fill="currentColor"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 320 512"
                        class="w-5 w-5"
                    >
                        <path
                            d="M310.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L160 210.7 54.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L114.7 256 9.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L160 301.3 265.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L205.3 256 310.6 150.6z"
                        />
                    </svg>
                </button>
            </div>
        </div>
    </nav>
    <MobileMenu :open="open" />
</template>

<script setup lang="ts">
    import MobileMenu from '@/components/MobileMenu.vue'
    import Navlink from '@/components/Navlink.vue'
    import { onMounted, ref } from 'vue'

    const YOUTUBE_LINK = 'https://www.youtube.com/channel/UCbKJAHWGeosASJV1QW2v_yQ'
    const DISCORD_LINK = 'https://discord.com/invite/FYsemrtbWU'

    // References
    const visible = ref<boolean>(false)
    const open = ref<boolean>(false)

    // Functions
    const toggleMenu = async () => {
        open.value = !open.value
        document.querySelector('body')!.classList.toggle('overflow-hidden')
    }

    // Observer
    const io = new IntersectionObserver(
        entries => {
            entries.forEach(entry => {
                if (entry.isIntersecting) {
                    visible.value = false
                } else {
                    visible.value = true
                }
            })
        },
        { threshold: 1, rootMargin: '50px' },
    )

    onMounted(() => {
        const component = document.querySelector('#bg') || document.querySelector('#main')
        io.observe(component!)
    })
</script>
