<template>
    <div class="flex flex-col items-center">
        <a
            class="mb-0"
            v-on:mouseenter="visible = true"
            v-on:mouseleave="visible = false"
            :href="props.href"
            >{{ props.title }}</a
        >
        <div
            :class="{ 'opacity-1': visible, 'opacity-0': !visible }"
            class="mt-0 h-[1px] w-full bg-white"
        />
    </div>
</template>

<script setup lang="ts">
    import { ref } from 'vue'

    const props = defineProps<{ title?: string; href?: string }>()
    const visible = ref<boolean>(false)
</script>
