---
import '@fontsource/poppins/400.css'
import '@fontsource/poppins/600.css'
import '@fontsource/poppins/700.css'
import '@fontsource/poppins/900.css'

import '@fontsource/open-sans/300.css'
import '@fontsource/open-sans/400.css'
import '@fontsource/open-sans/700.css'
import '@fontsource/open-sans/800.css'

import '@/styles/base.css' // Base styles

import Footer from '@/components/Footer.vue'
import Navbar from '@/components/Navbar.vue'
import Goup from '@/components/Goup.vue'
// import CookieBanner from "@/components/CookieBanner.vue"

const { frontmatter } = Astro.props
---

<html lang="en" class="scroll-smooth">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/png" href="/img/Sphere.png" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />

        <title>{frontmatter.title} | Sphere Interactive</title>

        <meta name="twitter:card" content="summary" />
        <meta name="twitter:title" content={`${frontmatter.title} | Sphere Interactive`} />
        <meta name="twitter:description" content="Creative interactions returned" />
        <meta name="twitter:image" content={`${Astro.url.origin}/img/backgrounds/3.png`} />

        <meta property="og:title" content={`${frontmatter.title} | Sphere Interactive`} />
        <meta property="og:site_name" content="Sphere Interactive" />
        <meta property="og:type" content="website" />
        <meta property="og:description" content="Creative interactions returned" />
        <meta property="og:image" content={`${Astro.url.origin}/img/backgrounds/3.png`} />
    </head>
    <body class="flex min-h-screen flex-col bg-t2 font-opensans text-white">
        <Navbar client:load />
        <!-- Provide markdown content -->
        <div id="main"></div>
        <div class="mx-auto flex w-full max-w-[800px] flex-col px-5 py-36 sm:break-all">
            <div
                class="prose max-w-none max-md:prose-sm lg:max-xl:prose-lg xl:prose-xl prose-headings:font-poppins prose-headings:text-white prose-p:text-white prose-a:text-white prose-strong:text-white"
            >
                <slot />
            </div>
        </div>
        <!-- End of markdown content -->
        <div class="flex-1"></div>
        <!-- fill the remaining space -->
        <Footer client:load />
        <Goup client:load />
        <!-- <CookieBanner client:load /> -->
    </body>
</html>
