---
import '@fontsource/poppins/400.css'
import '@fontsource/poppins/600.css'
import '@fontsource/poppins/700.css'
import '@fontsource/poppins/900.css'

import '@fontsource/open-sans/300.css'
import '@fontsource/open-sans/400.css'
import '@fontsource/open-sans/700.css'
import '@fontsource/open-sans/800.css'

import '@/styles/base.css' // Base styles

interface Props {
    title: string
}

const { title } = Astro.props
---

<html lang="en" class="scroll-smooth">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/png" href="/img/Sphere.png" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />

        <title>{title} | Sphere Interactive</title>

        <meta name="twitter:card" content="summary" />
        <meta name="twitter:title" content={`${title} | Sphere Interactive`} />
        <meta name="twitter:description" content="Creative interactions returned" />
        <meta name="twitter:image" content={`${Astro.url.origin}/img/backgrounds/3.png`} />

        <meta property="og:title" content={`${title} | Sphere Interactive`} />
        <meta property="og:site_name" content="Sphere Interactive" />
        <meta property="og:type" content="website" />
        <meta property="og:description" content="Creative interactions returned" />
        <meta property="og:image" content={`${Astro.url.origin}/img/backgrounds/3.png`} />
    </head>
    <body>
        <slot />
    </body>
</html>
